
  .contenedor-centralizado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container1, .container2 {
    width: 400px;
    left: 0;
    right: 0;
    margin: auto;
    
    background-color: #a8bfb6;
    padding: 1em 2em;
    margin-bottom: 2em;
}

.separador{
  width: 10px;
}

